@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

:root {
  --font-base: "Noto sans", sans-serif;

  --primary-color: #edf2f8bb;
  --secondary-color: #ff2c2c;
  --black-color: #0e1111;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: white;
}

body {
  background-color: #0e1111;
}
