@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-base: "Noto sans", sans-serif;
  --red-color: #ff2c2c;
  --hover-color: #ff7e7e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  color: white;
}

body {
  background-color: #0e1111;
}
